interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-API-KEY:
      - SecretAPIKey
    method: GET
    uri: https://pentest.ws/api/v1/scratchpads/1abWR16y
  response:
    body:
      string: '{"id":"1abWR16y","hid":"za4AlEP6","title":"README.md","type":"code","language":"markdown","content":"`hash:user``"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"73-z9NYd088XkHF8PrEwkhzp6GSpjM"
    status:
      code: 200
      message: OK
version: 1
