interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-API-KEY:
      - SecretAPIKey
    method: GET
    uri: https://pentest.ws/api/v1/hosts/za4AlEP6/scratchpads
  response:
    body:
      string: '[{"id":"1abWR16y","hid":"za4AlEP6","title":"README.md","type":"code","language":"markdown","content":"`hash:user``"},{"id":"1abWK36y","hid":"za4AlEP6","title":"Test","type":"code","language":"markdown","content":"#!/bin/sh"},{"id":"pxrljlaV","hid":"za4AlEP6","title":"Sun
        Set","type":"code","language":"markdown","content":"Sub Test gear"}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"154-jPRV4Pi+C5bYuv9l4wrceH0prNM"
    status:
      code: 200
      message: OK
version: 1
