# This is the configuration for code coverage checks
# https://coverage.readthedocs.io/en/latest/config.html

[run]
source = src/pws_api_wrapper
omit =
#branch = true  <-- removed due to miss calculating engagement.py

[report]
exclude_lines =
    if __name__ == "__main__":
show_missing = true
