interactions:
- request:
    body: '{"notes": "<strong>Test 1</strong>", "client_id": "", "test_str": "str"}'
    headers:
      Content-Type:
      - application/json
      X-API-KEY:
      - s8yFusxuZuekzMYHz642yZf7gwauHpQJ
    method: POST
    uri: https://pentest.ws/api/v1/e
  response:
    body:
      string: '{"msg":"Missing name"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"16-OXEEDjowXgEZKCuvUBePakWvq4I"
    status:
      code: 400
      message: Bad Request
version: 1
