interactions:
- request:
    body: '{"port": 22, "proto": "tcp", "service": "SSH", "version": "2.3", "status":
      "Needs Review", "state": "open", "notes": "Some Notes", "checklist": [{"0":
      "Log In?"}]}'
    headers:
      Content-Type:
      - application/json
      X-API-KEY:
      - SecretAPIKey
    method: POST
    uri: https://pentest.ws/api/v1/hosts/abdc1234/ports
  response:
    body:
      string: '{"msg":"Invalid Host ID"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"19-z14mU5ZUPBl+gSN5ad+L+vp20Gs"
    status:
      code: 400
      message: Bad Request
version: 1
