interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-API-KEY:
      - SecretAPIKey
    method: GET
    uri: https://pentest.ws/api/v1/ports/56VqkKba
  response:
    body:
      string: '{"id":"56VqkKba","hid":"za4AlEP6","port":22,"proto":"tcp","service":"SSH","version":"2.3","status":"Needs
        Review","state":"open","notes":"Some Notes","checklist":[{"0":"Log In?"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"b3-gvW1v6nk+8GnmpFTX3znzULvGvA"
    status:
      code: 200
      message: OK
version: 1
