interactions:
- request:
    body: '{"proto": "tcp", "service": "New SSH", "version": "2.3", "status": "Needs
      Review", "state": "open", "notes": "Some Notes", "checklist": [{"0": "Log In?"}]}'
    headers:
      Content-Type:
      - application/json
      X-API-KEY:
      - SecretAPIKey
    method: PUT
    uri: https://pentest.ws/api/v1/ports/56VqkKba
  response:
    body:
      string: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Etag:
      - W/"2-nOO9QiTIwXgNtWtBJezz8kv3SLc"
    status:
      code: 200
      message: OK
version: 1
