interactions:
- request:
    body: '{"id": "1abWR16y", "object_id": "12345678", "object_type": "e", "title":
      "Engagement Test", "content": "Some text is here."}'
    headers:
      Content-Type:
      - application/json
      X-API-KEY:
      - SecretAPIKey
    method: POST
    uri: https://pentest.ws/api/v1/e/12345678/notepages
  response:
    body:
      string: '{"msg":"Invalid engagements ID"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"20-tiQRieoihQB/YZ41nZERj7hwAOU"
    status:
      code: 400
      message: Bad Request
version: 1
