interactions:
- request:
    body: '{"object_id": "za4AlEP6", "object_type": "e", "title": "Engagement Test",
      "content": "Some text is here."}'
    headers:
      Content-Type:
      - application/json
      X-API-KEY:
      - SecretAPIKey
    method: POST
    uri: https://pentest.ws/api/v1/e/za4AlEP6/notepages
  response:
    body:
      string: '{"id":"96ZKAyx2"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"11-zJPJWrUoU5qlTzAL4iBhvslp9a4"
    status:
      code: 200
      message: OK
version: 1
