interactions:
- request:
    body: '{"oid": "46yEw36g", "otype": "e", "title": "Engagement Test
      Note", "content": "Some text is here."}'
    headers:
      Content-Type:
      - application/json
      X-API-KEY:
      - SecretAPIKey
    method: POST
    uri: https://pentest.ws/api/v1/e/46yEw36g/notepages
  response:
    body:
      string: '{"id":"1ab5Mqoy"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"11-RUPElZ/3ulGYyVOy1xmaYcCmRnU"
    status:
      code: 200
      message: OK
version: 1
