interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-API-KEY:
      - SecretAPIKey
    method: GET
    uri: https://pentest.ws/api/v1/notepages/1ab5Mqoy
  response:
    body:
      string: '{"id":"1ab5Mqoy","otype":"e","oid":"46yEw36g","title":"Engagement Test Note","content":"Some
        text is here."}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"67-UfgYWjXcd/vTq/tusN96cpUVmNk"
    status:
      code: 200
      message: OK
version: 1
