interactions:
- request:
    body: '{"name": "Engagement 1", "notes": "<strong>Test 1</strong>", "client_id":
      ""}'
    headers:
      Content-Type:
      - application/json
      X-API-KEY:
      - SecretAPIKey
    method: POST
    uri: https://pentest.ws/api/v1/e
  response:
    body:
      string: '{"id":"za4Kz7oy"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"11-KLPA7W2rDrJPY1cgHlsNC84Fmm0"
    status:
      code: 200
      message: OK
version: 1
