interactions:
- request:
    body: null
    headers:
      X-API-KEY:
      - SecretAPIKey
    method: GET
    uri: https://pentest.ws/api/v1/e
  response:
    body:
      string: '[{"id":"7aBB7za9","name":"Engagement 1","notes":"<strong>Test 1</strong>","client_id":"","created_at":"2021-02-05T19:59:27.104Z","archived":null},{"id":"ZaAvk46j","name":"Engagement 2","notes":"<strong>Test 2</strong>","client_id":"","created_at":"2021-08-27T12:51:26.943Z","archived":null}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"595-ghozhEHAAwr1Gpa+LHwNiRicbTM"
    status:
      code: 200
      message: OK
version: 1
