interactions:
- request:
    body: '{"name": "Engagement 1", "notes": "<strong>Test 1</strong>", "client_id":
      "123", "created_at": "2021-02-05T19:59:27.104Z"}'
    headers:
      Content-Type:
      - application/json
      X-API-KEY:
      - SecretAPIKey
    method: PUT
    uri: https://pentest.ws/api/v1/e/7aBB7za9
  response:
    body:
      string: '{"msg":"Invalid client_id"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1b-u9VnmJBkdwTF/nR9lpK8WmMUxBs"
    status:
      code: 400
      message: Bad Request
version: 1
