interactions:
- request:
    body: null
    headers:
      X-API-KEY:
      - SecretAPIKey
    method: GET
    uri: https://pentest.ws/api/v1/e/7aBB7za9/hosts
  response:
    body:
      string: '[{"id":"MoMM4gYo","eid":"7aBB7za9","target":"10.10.11.105","hostnames":"","type":"question","os_type":"question","os":null,"label":null,"flagged":false,"reviewed":false,"thumbs_up":false,"thumbs_down":false,"out_of_scope":false,"shell":false,"owned":false,"notes":null},{"id":"YakGyV4a","eid":"7aBB7za9",
      "target":"10.10.11.100","hostnames":"","type":"server","os_type":"Linux","os":null,"label":null,"flagged":false,"reviewed":false,"thumbs_up":false,"thumbs_down":false,"out_of_scope":false,"shell":true,"owned":true,"notes":null},{"id":"WonNJddo","eid":"7aBB7za9",
      "target":"10.10.10.241","hostnames":"pit","type":"question","os_type":"Linux","os":"Redhat","label":null,"flagged":false,"reviewed":false,"thumbs_up":false,"thumbs_down":false,"out_of_scope":false,"shell":false,"owned":false,"notes":null}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"c3f-3Ng4P9jAGc5LjVZQgk5UOlPC84w"
    status:
      code: 200
      message: OK
version: 1
