interactions:
- request:
    body: '{"target": "1.2.3.4", "flagged": true, "hostnames": "host", "label": "New
      Label", "notes": "Note", "os": "OS", "os_type": "Linux", "out_of_scope": true,
      "owned": false, "reviewed": true, "shell": true, "thumbs_down": true, "thumbs_up":
      true, "type": "Unknown"}'
    headers:
      Content-Type:
      - application/json
      X-API-KEY:
      - SecretAPIKey
    method: PUT
    uri: https://pentest.ws/api/v1/hosts/No3e25l6
  response:
    body:
      string: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Etag:
      - W/"2-nOO9QiTIwXgNtWtBJezz8kv3SLc"
    status:
      code: 200
      message: OK
version: 1
