interactions:
- request:
    body: '{"target": "1.2.3.4", "board_id": "abcd1234", "eid": "ZaAvk46j", "flagged":
      true, "hostnames": "host", "id": "abcd1234", "label": "label", "notes": "Note",
      "os": "OS", "os_type": "Server", "out_of_scope": true, "owned": false, "reviewed":
      true, "shell": true, "thumbs_down": true, "thumbs_up": true, "type": "Type"}'
    headers:
      Content-Type:
      - application/json
      X-API-KEY:
      - SecretAPIKey
    method: POST
    uri: https://pentest.ws/api/v1/e/ZaAvk46j/hosts
  response:
    body:
      string: '{"msg":"Invalid board_id: abcd1234"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"24-PhU+lBOu1BG89iOmajjthHbNdBc"
    status:
      code: 400
      message: Bad Request
version: 1
