interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-API-KEY:
      - SecretAPIKey
    method: GET
    uri: https://pentest.ws/api/v1/hosts/No3e25l6/ports
  response:
    body:
      string: '[{"id":"56VqkKba","hid":"No3e25l6","port":22,"proto":"udp","service":"SSH","version":null,"status":"Needs
        Review","state":"open","notes":"Some Notes","checklist":[{"0":"Log In?"}]},{"id":"56VqJ43a","hid":"No3e25l6","port":80,"proto":"tcp","service":"http","version":"1.1","status":"Vulnerable","state":"filtered","notes":"Oh
        Ya","checklist":[{"0":"HTTP?"}]},{"id":"56vL55eo","hid":"No3e25l6","port":123,"proto":"tcp","service":null,"version":null,"status":"Checked","state":"closed","notes":null,"checklist":null},{"id":"MxNMPPJ6","hid":"No3e25l6","port":124,"proto":null,"service":null,"version":null,"status":"Vulnerable","state":"unfiltered","notes":null,"checklist":null},{"id":"Q68YyQBx","hid":"No3e25l6","port":125,"proto":"tcp","service":null,"version":null,"status":"Owned","state":"open|filtered","notes":null,"checklist":null},{"id":"Z6GJy85a","hid":"No3e25l6","port":126,"proto":"tcp","service":null,"version":null,"status":null,"state":"closed|filtered","notes":null,"checklist":null}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3e5-y++EFvOAk8mX3KvKhD6ofUasG44"
    status:
      code: 200
      message: OK
version: 1
