interactions:
- request:
    body: '{"port": 22, "proto": "tcp", "service": "SSH", "version": "2.3", "status":
      "Needs Review", "state": "open", "notes": "Some Notes", "checklist": [{"0":
      "Log In?"}]}'
    headers:
      Content-Type:
      - application/json
      X-API-KEY:
      - SecretAPIKey
    method: PUT
    uri: https://pentest.ws/api/v1/ports/56VqkKba
  response:
    body:
      string: '{"msg":"Invalid Field: port"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1d-5KBPbxV4g0Mtr2MgvAnE3QwTU44"
    status:
      code: 400
      message: Bad Request
version: 1
