interactions:
- request:
    body: '{"port": 22, "proto": "tcp", "service": "SSH", "version": "2.3", "status":
      "Needs Review", "state": "open", "notes": "Some Notes", "checklist": [{"0":
      "Log In?"}]}'
    headers:
      Content-Type:
      - application/json
      X-API-KEY:
      - SecretAPIKey
    method: POST
    uri: https://pentest.ws/api/v1/hosts/za4AlEP6/ports
  response:
    body:
      string: '{"id":"za4AlEP6"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"11-tzsz4ApmqG9IfdNJKn1v3H7jwRg"
    status:
      code: 200
      message: OK
version: 1
