interactions:
- request:
    body: '{"title": "README.md", "type": "code", "language": "markdown", "content":
      "New Content"}'
    headers:
      Content-Type:
      - application/json
      X-API-KEY:
      - SecretAPIKey
    method: PUT
    uri: https://pentest.ws/api/v1/scratchpads/1abWR16y
  response:
    body:
      string: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Etag:
      - W/"2-nOO9QiTIwXgNtWtBJezz8kv3SLc"
    status:
      code: 200
      message: OK
version: 1
