interactions:
- request:
    body: '{"id": "1abWR16y", "hid": "12345678", "title": "README.md", "type": "code",
      "language": "markdown", "content": "`hash:user``"}'
    headers:
      Content-Type:
      - application/json
      X-API-KEY:
      - SecretAPIKey
    method: POST
    uri: https://pentest.ws/api/v1/hosts/12345678/scratchpads
  response:
    body:
      string: '{"msg":"Invalid Host ID"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"19-z14mU5ZUPBl+gSN5ad+L+vp20Gs"
    status:
      code: 400
      message: Bad Request
version: 1
