interactions:
- request:
    body: '{"hid": "za4AlEP6", "title": "README.md", "type": "code", "language": "markdown",
      "content": "`hash:user``"}'
    headers:
      Content-Type:
      - application/json
      X-API-KEY:
      - SecretAPIKey
    method: POST
    uri: https://pentest.ws/api/v1/hosts/za4AlEP6/scratchpads
  response:
    body:
      string: '{"id":"1abWR16y"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"11-aws/Eq8db3CLEQrsDxW0tJd6cq8"
    status:
      code: 200
      message: OK
version: 1
