interactions:
- request:
    body: '{"target": "1.2.3.4", "flagged": true, "hostnames": "host", "label": "label",
      "notes": "Note", "os": "OS", "os_type": "Linux", "out_of_scope": true, "owned":
      false, "reviewed": true, "shell": true, "thumbs_down": true, "thumbs_up": true,
      "type": "Unknown"}'
    headers:
      Content-Type:
      - application/json
      X-API-KEY:
      - SecretAPIKey
    method: POST
    uri: https://pentest.ws/api/v1/e/ZaAvk46j/hosts
  response:
    body:
      string: '{"id":"No3e25l6"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"11-7ts0vuTDXuKpUgnOAMKRXK0E9/M"
    status:
      code: 200
      message: OK
version: 1
