interactions:
- request:
    body: null
    headers:
      X-API-KEY:
      - SecretAPIKey
    method: GET
    uri: https://pentest.ws/api/v1/hosts/No3e25l6
  response:
    body:
      string: '{"id":"No3e25l6","target": "1.2.3.4", "board_id": "abcd1234", "eid": "ZaAvk46j", "flagged": true, "hostnames": "host", "label": "label", "notes": "Note", "os": "OS", "os_type": "Linux", "out_of_scope": true, "owned": false, "reviewed": true, "shell": true, "thumbs_down": true, "thumbs_up": true, "type": "Unknown"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"c3f-3Ng4P9jAGc5LjVZQgk5UOlPC84w"
    status:
      code: 200
      message: OK
version: 1
