interactions:
- request:
    body: '{"target": "1.2.3.4", "board_id": "abcd1234", "eid": "abcd1234", "flagged":
      true, "hostnames": "host", "label": "label", "notes": "Note", "os": "OS", "os_type":
      "Linux", "out_of_scope": true, "owned": false, "reviewed": true, "shell": true,
      "thumbs_down": true, "thumbs_up": true, "type": "Unknown"}'
    headers:
      Content-Type:
      - application/json
      X-API-KEY:
      - SecretAPIKey
    method: PUT
    uri: https://pentest.ws/api/v1/hosts/No3e25l6
  response:
    body:
      string: '{"msg":"Invalid board_id: abcd1234"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"24-PhU+lBOu1BG89iOmajjthHbNdBc"
    status:
      code: 400
      message: Bad Request
version: 1
