interactions:
- request:
    body: '{"finding_id": "01", "title": "Test Finding", "environment": "Web App",
      "category": "Injection", "risk_level": "Critical", "cvss2_str": "AV:N/AC:L/Au:S/C:P/I:P/A:N",
      "cvss3_str": "AV:N/AC:L/PR:L/UI:N/S:C/C:L/I:L/A:N", "dread": ["9  Admin data",
      "10 Very easy", "9  Simple proxy", "10 All users", "5  HTTP requests"], "background":
      "html", "desc_brief": "html", "desc_full": "html", "impact_brief": "html", "impact_full":
      "html", "reco_brief": "html", "reco_full": "html", "reco_effort": "html", "targets":
      "html", "references": "html", "evidence": "html", "validation_steps": "html",
      "remediation_log": "html"}'
    headers:
      Content-Type:
      - application/json
      X-API-KEY:
      - SecretAPIKey
    method: POST
    uri: https://pentest.ws/api/v1/e/46yEw36g/findings
  response:
    body:
      string: '{"id":"nDa0BVxK"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"11-ngEHr5INQ+tyzbdwimPOTfFyrvM"
    status:
      code: 200
      message: OK
version: 1
